.login_layout {
  display: grid;
  background-color: #dadbd3;
  place-items: center;
  height: 100vh;
}

.login_body {
  display: flex;
  background-color: #ededed;
  height: 100vh;
  width: 100vh;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0);
}
