.login_container {
  height: 40vh;
  width: 20vw;
  display: grid;
  place-items: center;
  padding: 100px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1 px;
}

.login_container > img {
  display: grid;
  height: 250px;
  margin-bottom: 40px;
}

.login_button {
  background-color: rgb(78, 182, 46);
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
  border: none;
}
